<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" name="Restman" packages="">

    <properties>
        <property name="LOG_DIR">/var/log</property>
        <property name="patternlayout">%d [%-3tid] %-5level %-30c{2} - %msg%n%throwable{full}</property>
        <property name="filename">${LOG_DIR}/restman.log</property>
        <property name="filenamePattern">${LOG_DIR}/restman-%d{yyyy-MM-dd}-%i.log</property>
    </properties>

    <Appenders>
        <RollingFile name="RollingFile" fileName="${filename}" filePattern="${filenamePattern}">
            <PatternLayout pattern="${patternlayout}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="30" />
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${patternlayout}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.smarto" level="info">
            <AppenderRef ref="RollingFile" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</configuration>